body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
    font-family: serif;
    font-size: x-large;
}

h2 {
    color: white;
    font-family: sans-serif;
    font-size: large;
}

.phone {
    width: 100%;
    align-items: center;
}

a {
    color: turquoise;
}

img {
    align-items: center;
}